#### Exercise 1: Reverse a list in Python

In [1]:
# Given list1 
list1 = [100, 200, 300, 400, 500]

# Using reverse() built-in method of list to reverse the list
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [2]:
# We can also use negative indexing
# -1 indicates to start from the last item.

list1 = [100, 200, 300, 400, 500]
list1 = list1[::-1]
print(list1)

[500, 400, 300, 200, 100]

#### Exercise 2: Concatenate two lists index-wise

In [3]:
# Given two lists namely list1 and list2
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

# Creating an Empty list
list3 = []

# Initialising the value of j to 0
j = 0
for i in list1:
    list3.append(i + list2[j])
    j += 1
print(list3)

['My', 'name', 'is', 'Kelly']

In [4]:
# Shorter method would be using zip() function
# I am again creating same lists as shown above 
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

list3 = [i + j for i,j in zip(list1,list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

#### Exercise 3: Turn every item of a list into its square

In [5]:
# creating a list named numbers
numbers = [1, 2, 3, 4, 5, 6, 7]

# Applying list comprehension, we can get the square of each and every element present in numbers list
square_list = [x*x for x in numbers]
print(square_list)

[1, 4, 9, 16, 25, 36, 49]

In [6]:
# We can also use loop and it'll also give us same output
numbers = [1, 2, 3, 4, 5, 6, 7]
res = []

#for loop to iterate over each element of the list
for item in numbers:
    # calculate square and add to the result list
    res.append(item*item)
print(res)

[1, 4, 9, 16, 25, 36, 49]

#### Exercise 4: Concatenate two lists in the following order
##### list1 = ["Hello ", "take "], list2 = ["Dear", "Sir"]
##### Output : ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [7]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3 = []

for i in list1:
    for j in list2:
        list3.append(i + j)
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [8]:
# We can also do this using list comprehension as we did it before
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

res = [x+y for x in list1 for y in list2]
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

For lengthy iterations I would recommend you to not use list comprehension as it may be difficult for others or for you to understand when you look back this code after a month or so.
You can always go for 'loops' concept as it is more convinient to understand and more readable too. :)

#### Exercise 5: Iterate both lists simultaneously

In [9]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i,j in zip(list1, list2[::-1]):
    print(i,j)

10 400
20 300
30 200
40 100

#### Exercise 6: Remove empty strings from the list of strings

In [10]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res = []

for i in list1:
    if i:
        res.append(i)
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

In [11]:
# We can also use filter()
# remove None from list1 and convert result into list
res = list(filter(None, list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

#### Exercise 7: Add new item to list after a specified item

In [12]:
# Creating list 
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

# understand indexing
# list1[0] = 10
# list1[1] = 20
# list1[2] = [300, 400, [5000, 6000], 500]
# list1[2][2] = [5000, 6000]
# list1[2][2][1] = 6000

#Adding an item at location list1[2][2]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [13]:
list1[2][2][2]

7000

#### Exercise 8: Extend nested list by adding the sublist

You have given a nested list. Write a program to extend it by adding the sublist ["h", "i", "j"] in such a way that it will look like the following list. 
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Expected result : ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [14]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

#### Exercise 9: Replace listâ€™s item with new value if found

You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

In [15]:
list1 = [5, 10, 15, 20, 25, 50, 20]

In [17]:
ind = list1.index(20)
print(ind)

3

In [18]:
list1[ind] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

#### Exercise 10: Remove all occurrences of a specific item from a list.

In [19]:
#Given a Python list, write a program to remove all occurrences of item 20.
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
    if i == 20:
        list1.remove(i)
print(list1)

[5, 15, 25, 50]

In [21]:
list1 = [5, 20, 15, 20, 25, 50, 20]
# list comprehension
# remove specific items and return a new list

def remove_value(sample_list, val):
    return [i for i in sample_list if i!= val]
    
    
res = remove_value(list1, 20)
print(res)

[5, 15, 25, 50]

In [22]:
# using while loop 
list1 = [5, 20, 15, 20, 25, 50, 20]

while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]